body {
	margin: 0px;
	padding: 0px;
}
.navPan {
	width: 100%;
	height: 70px;
	background-color: black;
	display: flex;
}
.navPan_img {
	margin: auto;
}
.navPan__nav {
	width: 80%;
}
.navPan__nav_list {
	color: white;
	float: right;
	margin-right: 50px;
	display: flex;
}
.navPan__nav_list_a {
	margin-right: 25px;
	margin-top: 10px;
}
.navPan__nav_list_a:hover {
	color: black;
	background-color: white;
	cursor: pointer;
	text-decoration: none;
}
.navPan__nav_list_a_el {
	list-style-type: none;
}
.hidden_btn {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	background-color: transparent;
	margin-left: 85%;
	margin-top: 20px;
}
.hidden_btn:hover {
	border: 1px solid gray;
}
.hidden {
	width: 30%;
	height: 270px;
	background-color: black;
	border: 1px solid white;
	position: fixed;
	left: 66%;
}
.hidde {
	color: white;
	margin-bottom: 40px;
}
.hidde:hover {
	color: gray;
}
.hiddeList {
	margin: auto;
}
.header {
	width: 100%;
	height: 640px;
	background-image: url(images/background-for-header.jpg);
	display: flex;
}
.header__textBox {
	width: 60%;
	height: 640px;
	margin: 0px;
	padding: 0px;
}
.header__formBox {
	width: 40%;
	height: 640px;
	margin: 0px;
	padding: 0px;
}
.header__formBox_form {
	width: 70%;
	height: 360px;
	margin: auto;
	margin-top: 20%;
	background-color: white;
	border-radius: 5px;
}
.header__formBox_form_text {
	background-color: #f5f5f5;
	line-height: 56px;
	text-align: center;
	font-size: 1.5em;
	border-radius: 5px;
}
.specialText-free {
	color: #ff8b38;
}
.header__formBox_form_name {
	width: 79%;
	height: 35px;
	margin-left: 9%;
	margin-bottom: 40px;
	border: none;
	border-bottom: 1px solid #d6d6d6;
}
.focus:hover {
	border: 1px solid #d6d6d6;
}
.focus:focus {
	outline: 0;
    outline-offset: 0;
    border: 1px solid black;
}
.header__formBox_form_button {
	width: 100%;
	height: 60px;
	background-color: #ff9b51;
	color: white;
	border: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.header__formBox_form_button:hover {
	background-color: #f9ba8c;
}
.header__textBox_img {
	margin-top: 110px;
	margin-left: 15%;
}
.header__textBox_textHead {
	width: 70%;
	margin-left: 15%;
	color: white;
}
.header__textBox_underLine {
	width: 15%;
	margin-left: 15%;
}
.header__textBox_text {
	width: 50%;
	margin-left: 15%;
	color: white;
}
.header__textBox_button {
	margin-left: 15%;
	width: 20%;
	height: 40px;
	background-color: transparent;
	color: white;
	border: 1px solid white;
}
.header__textBox_button:hover {
	border: 1px solid gray;
	color: gray;
}
.social {
	display: flex;
	width: 100%;
	height: 100px;
	background-color: white;
}
.social__text {
	width: 40%;
	border: 1px solid black;
}
.social__text_textHead {
	font-size: 1.5em;
	margin-left: 25%;
	margin-bottom: 0px;
}
.social__text_text {
	margin-left: 25%;
	margin-top: 0px;
	color: #86878b;
}
.social__web {
	width: 60%;
	border: 1px solid black;
}
@media screen and (max-width: 1140px) {
	.header__formBox_form {
		height: 260px;
		margin-top: 100px;
	}
	.header__formBox_form_name {
		margin-bottom: 15px;
	}
	.header__formBox_form_text {
		font-size: 1.3em;
		line-height: 36px;
	}
	.header__textBox_img {
		width: 120px;
		margin-top: 90px;
	}
}
@media screen and (max-width: 850px) {
	.header {
		display: grid;
		height: 1000px;
	}
	.header__textBox {
		width: 100%;
		height: 500px;
	}
	.header__formBox {
		width: 100%;
		height: 500px;
	}
	.header__formBox_form {
		width: 260px;
		margin: auto;
		margin-top: 0px;
	}
	.header__textBox_img {
		margin-top: 60px;
		width: 85px;
	}
	.social__text_textHead {
		margin-left: 15%;
		font-size: 1.2em;
	}
	.social__text_text {
		margin-left: 15%;
		font-size: 0.8em;
	}
}
@media screen and (max-width:540px) {
	.navPan__nav_list {
		margin-right: 5px;
	}
	.navPan__nav_list_a {
		margin-right: 10px;
		width: 50%;
	}
	.social__text_textHead {
		margin-left: 10%;
		font-size: 1em;
	}
	.social__text_text {
		margin-left: 10%;
		font-size: 0.8em;
	}
}
@media screen and (max-width: 420px) {
	.navPan__nav_list_a {
		margin-right: 0px;
	}
	.navPan__nav_list {
		display: none;
	}
	.header__textBox {
		margin-bottom: 80px;
	}
	.social {
		height: 110px;
	}
}