body {
	margin: 0px;
	padding: 0px;
}
.navPan {
	width: 100%;
	height: 70px;
	background-color: black;
	display: flex;
}
.navPan_img {
	margin: auto;
}
.navPan__nav {
	width: 80%;
}
.navPan__nav_list {
	color: white;
	float: right;
	margin-right: 50px;
	display: flex;
}
.navPan__nav_list_a {
	color: white;
	text-decoration: none;
	margin-right: 25px;
	margin-top: 10px;
}
.navPan__nav_list_a:hover {
	color: black;
	background-color: white;
	cursor: pointer;
	text-decoration: none;
}
.navPan__nav_list_a_el {
	list-style-type: none;
}
.hidden_btn {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	background-image: url(images/menu.png);
	background-size: 30px;
	background-position: center;
	border-radius: 5px;
	margin-left: 85%;
	margin-top: 20px;
}
.hidden_btn:hover {
	border: 1px solid gray;
}
.hidden {
	width: 30%;
	height: 270px;
	background-color: rgba(0,0,0,0.6);
	border: 1px solid white;
	position: fixed;
	left: 66%;
}
.hidde {
	color: white;
	margin-bottom: 40px;
}
.hidde:hover {
	color: gray;
}
.hiddeList {
	margin-left: -20%;
}
.header {
	width: 100%;
	height: 640px;
	background-image: url(images/background-for-header.jpg);
	display: flex;
}
.header__textBox {
	width: 60%;
	height: 640px;
	margin: 0px;
	padding: 0px;
}
.header__formBox {
	width: 40%;
	height: 640px;
	margin: 0px;
	padding: 0px;
}
.header__formBox_form {
	width: 70%;
	height: 360px;
	margin: auto;
	margin-top: 20%;
	background-color: white;
	border-radius: 5px;
}
.header__formBox_form_text {
	background-color: #f5f5f5;
	line-height: 56px;
	text-align: center;
	font-size: 1.5em;
	border-radius: 5px;
}
.specialText-free {
	color: #ff8b38;
}
.header__formBox_form_name {
	width: 79%;
	height: 35px;
	margin-left: 9%;
	margin-bottom: 40px;
	border: none;
	border-bottom: 1px solid #d6d6d6;
}
.focus:hover {
	border: 1px solid #d6d6d6;
}
.focus:focus {
	outline: 0;
    outline-offset: 0;
    border: 1px solid black;
}
.header__formBox_form_button {
	width: 100%;
	height: 60px;
	background-color: #ff9b51;
	color: white;
	border: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.header__formBox_form_button:hover {
	background-color: #f9ba8c;
}
.header__textBox_img {
	margin-top: 110px;
	margin-left: 15%;
}
.header__textBox_textHead {
	width: 70%;
	margin-left: 15%;
	color: white;
}
.header__textBox_underLine {
	width: 15%;
	margin-left: 15%;
}
.header__textBox_text {
	width: 50%;
	margin-left: 15%;
	color: white;
}
.header__textBox_button {
	margin-left: 15%;
	width: 20%;
	height: 40px;
	background-color: transparent;
	color: white;
	border: 1px solid white;
}
.header__textBox_button:hover {
	border: 1px solid gray;
	color: gray;
}
.social {
	display: flex;
	width: 100%;
	height: 100px;
	background-color: white;
}
.social__text {
	width: 40%;
}
.social__text_textHead {
	font-size: 1.5em;
	margin-left: 25%;
	margin-bottom: 0px;
}
.social__text_text {
	margin-left: 25%;
	margin-top: 0px;
	color: #86878b;
}
.social__web {
	width: 40%;
	margin: auto;
	display: flex;
}
.social__web_img {
	width: 100%;
}
.social__web_img:hover {
	margin: -3px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
}
.features {
	width: 100%;
	height: 595px;
	background-color: #f5f5f5;
	display: flex;
}
.features__tabs {
	width: 20%;
}
.features__tabs_tab {
	display: block;
	margin: 0px;
	width:50%;
	height: 110px;
	position: relative;
	left: 50%;
	background-color: #333333;
	margin-bottom: 1px;
	color: white;
	border: none;
	transition-property: background-color;
	transition-duration: .5s;
}
.tab1 {
	margin-top: 130px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.tab3 {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.features__tabs_tab:hover {
	background-color: #ff8b38;
}
.selected {
	background-color: #ff8b38;
}
.features__tabsDiv {
	width: 45%;
}
.tabDiv {
	display: none;
	transition-property: display;
}
.selectedDiv {
	display: block;
	opacity: 0;
  	animation: ani 1s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.tabDiv_textHead {
	font-family: monospace;
	font-size: 1.3em;
	margin-top: 130px;
	margin-left: 10%;
}
.tabDiv_text {
	color: #86878b;
	width: 90%;
	margin-left: 10%;
}
.tabDiv_button {
	width: 20%;
	height: 40px;
	border: none;
	border-radius: 3px;
	color: white;
	background-color: #ff8b38;
	margin-left: 10%;
}
.tabDiv_button:hover {
	background-color: #f9ba8c;
}
.features__img {
	width: 35%;
}
.features__img_img {
	width: 80%;
	margin-left: 10%;
	margin-top: 150px;
}
.features2 {
	width: 100%;
	height: 600px;
	display: flex;
}
.features2__img {
	width: 50%;
}
.features2__textBox {
	width: 50%;
}
.features2__textBox_textHead {
	font-family: monospace;
	font-size: 2em;
	margin-top: 105px;
	margin-left: 17%;
}
.features2__textBox_underLine {
	width: 15%;
	border-color: #ff8b38;
	margin-left: 17%;
	margin-bottom: 50px;
}
.features2__textBox_text {
	width: 60%;
	margin-left: 17%;
	color: #86878b;
}
.features2__textBox_box {
	width: 100%;
	height: 315px;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 25% 75%;
}
.features2__textBox_box_img {
	float: right;
	margin-top: 55px;
}
.features2__textBox_box_img:hover {
    animation: 0.8s ease-in-out 0s normal none running trambling-animation;
}
@keyframes trambling-animation {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(20deg);
    }
    10% {
        transform: rotate(40deg);
    }
    15% {
    	transform : rotate(60deg);
    }
    20% {
    	transform : rotate(80deg);
    }
    25% {
    	transform : rotate(100deg);
    }
    30% {
    	transform : rotate(120deg);
    }
    35% {
    	transform : rotate(140deg);
    }
    40% {
    	transform : rotate(160deg);
    }
    45% {
    	transform : rotate(180deg);
    }
    50% {
    	transform : rotate(200deg);
    }
    55% {
    	transform : rotate(220deg);
    }
    60% {
    	transform : rotate(240deg);
    }
    65% {
    	transform : rotate(260deg);
    }
    70% {
    	transform : rotate(280deg);
    }
    75% {
    	transform : rotate(300deg);
    }
    80% {
    	transform : rotate(320deg);
    }
    85% {
    	transform : rotate(330deg);
    }
    90% {
    	transform : rotate(340deg);
    }
    95% {
    	transform : rotate(350deg);
    }
    100% {
    	transform : rotate(360deg);
    }
}
.features2__textBox_box_textHead {
	margin-top: 55px;
	font-size: 1.3em;
	font-family: monospace;
	margin-left: 10%;
	margin-bottom: 0px;
}
.features2__textBox_box_text {
	font-size: 0.9em;
	margin-top: 0px;
	margin-left: 10%;
	width: 80%;
	color: #86878b;
}
.features2__img_img {
	width: 70%;
	margin-left: 15%;
	margin-top: 200px;
	box-shadow: 7px 7px 10px rgba(0,0,0,0.6);
}
.features3 {
	width: 100%;
	height: 525px;
	display: flex;
	background-color: #f5f5f5;
}
.features3__textBox {
	width: 50%;
}
.features3__img {
	width: 50%;
}
.features3__textBox_textHead {
	margin-top: 150px;
	font-size: 1.3em;
	font-family: monospace;
	margin-left: 13%;
	margin-bottom: 0px;
}
.features3__textBox_underline {
	width: 15%;
	border-color: #ff8b38;
	margin-left: 13%;
	margin-bottom: 50px;
}
.features3__textBox_text {
	font-size: 0.9em;
	margin-top: 0px;
	margin-left: 13%;
	width: 70%;
	margin-bottom: 20px;
	color: #86878b;
}
.features3__img_img {
	width: 65%;
	margin-left: 15%;
	margin-top: 120px;
	box-shadow: 7px 7px 10px rgba(0,0,0,0.6);
}
.process {
	width: 100%;
	height: 595px;
	display: grid;
	grid-template-rows: 30% 70%;
}
.process__textBox {
	width: 100%;
	margin: 0px;
	text-align: center;
}
.process__textBox_underline {
	width: 8%;
	border-color: #ff8b38;
}
.process__textBox_textHead {
	margin-top: 60px;
	font-family: monospace;
	font-size: 2.5em;
	color: #212121;
}
.process__textBox_text {
	color: #86878b;
	font-size: 0.8em;
}
.process__boxes {
	width: 100%;
	display: flex;
	margin: 0px;
}
.process__boxes_box {
	width: 25%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: center;
}
.process__boxes_box_textHead {
	font-family: monospace;
}
.process__boxes_box_text {
	color: #86878b;
	margin-bottom: 5px;
}
.box1 {
	margin-left: 10%;
}
.box3 {
	margin-right: 10%;
}
@media screen and (max-width: 1140px) {
	.header__formBox_form {
		height: 260px;
		margin-top: 100px;
	}
	.header__formBox_form_name {
		margin-bottom: 15px;
	}
	.header__formBox_form_text {
		font-size: 1.3em;
		line-height: 36px;
	}
	.header__textBox_img {
		width: 120px;
		margin-top: 90px;
	}
	.features2 {
		height: 650px;
	}
}
@media screen and (max-width: 850px) {
	.header {
		display: grid;
		height: 1000px;
	}
	.header__textBox {
		width: 100%;
		height: 500px;
	}
	.header__formBox {
		width: 100%;
		height: 500px;
	}
	.header__formBox_form {
		width: 260px;
		margin: auto;
		margin-top: 0px;
	}
	.header__textBox_img {
		margin-top: 60px;
		width: 85px;
	}
	.social__text_textHead {
		margin-left: 15%;
		font-size: 1.2em;
	}
	.social__text_text {
		margin-left: 15%;
		font-size: 0.8em;
	}
	.social {
		display: block;
		height: 110px;
	}
	.social__text {
		width: 80%;
		height: 55px;
		margin: auto;
	}
	.social__web {
		width: 70%;
		height: 55px;
		display: flex;
		margin: auto;
	}
	.social__web_img {
		width: 100%;
	}
	.features__img {
		display: none;
	}
	.features__tabs {
		width: 30%;
	}
	.features__tabsDiv {
		width: 70%;
	}
	.tabDiv_button {
		width: 30%;
	}
	.features2 {
		height: 800px;
	}
}
@media screen and (max-width:540px) {
	.navPan__nav_list {
		margin-right: 5px;
	}
	.navPan__nav_list_a {
		margin-right: 10px;
		width: 50%;
	}
	.social__text_textHead {
		margin-left: 10%;
		font-size: 1em;
	}
	.social__text_text {
		margin-left: 10%;
		font-size: 0.8em;
	}
	.features2 {
		height: 850px;
		display: block;
	}
	.features2__img {
		width: 100%;
	}
	.features2__img_img {
		margin-top: 20px;
	}
	.features2__textBox {
		width: 100%;
	}
	.features2__textBox_textHead {
		margin-top: 30px;
	}
	.features3 {
		display: block;
	}
	.features3__img {
		width: 100%;
	}
	.features3__img_img {
		margin-top: 20px;
	}
	.features3__textBox {
		width: 100%;
	}
	.process__boxes {
		display: block;
	}
	.process {
		height: 650px;
	}
	.process__boxes_box {
		width: 100%;
		height: 140px;
		margin: 0px;
	}
	.process__boxes_box_img {
		width: 50px;
	}
	.process__boxes_box_textHead {
		font-size: 1.2em;
	}
	.process__boxes_box_text {
		font-size: 0.8em;
	}
}
@media screen and (max-width: 420px) {
	.navPan__nav_list_a {
		margin-right: 0px;
	}
	.navPan__nav_list {
		display: none;
	}
	.header__textBox {
		margin-bottom: 80px;
	}
	.social__text {
		width: 100%;
		height: 55px;
		margin: auto;
	}
	.social__web {
		width: 100%;
		height: 55px;
		display: flex;
		margin: auto;
	}
	
	.header__textBox_button {
		width: 30%;
	}
	.features {
		display: grid;
		grid-template-rows: 90% 90%;
	}
	.features__tabs {
		margin: 0px;
		width: 100%;
		height: 30%;
	}
	.features__tabs_tab {
		position: relative;
		left: 5%;
		top: -70px;
		width: 28%;
		display: inline-block;
	}
	.features__tabsDiv {
		width: 100%;
		height: 75%;
		margin: 0px;
		position: relative;
		top: -380px;
	}
	.tabDiv_textHead {
		margin-top: 50px;
		margin-left: 5%;
	}
	.tabDiv_text {
		margin-left: 5%;
	}
	.tabDiv_button {
		margin-left: 5%;
	}
	.features2 {
		height: 900px;
	}
	.features2__textBox_box_textHead {
		font-size: 1.3em;
	}
	.features2__textBox_box_text {
		font-size: 0.75em;
	}
	.features2__textBox_box {
		grid-template-rows: 55% 55%;
	}
	.features3__textBox_textHead {
		margin-top: 25px;
	}
}